@import url("https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-size: 18px;
  box-sizing: border-box;
}

body {
  margin: 100px;
  font-family: "Poppins", sans-serif;
  /* line-height: 1.5rem; */
}

.guide {
  padding: 30px 70px;
  background-color: beige;
  line-height: 2rem;
  border-radius: 20px;
}

.pb-5 {
  padding-bottom: 30px;
}

h1 {
  font-family: "Bungee Tint", sans-serif;
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  padding: 50px;
  background-color: antiquewhite;
  margin-bottom: 20px;
  border-radius: 20px;
}

h2 {
  font-size: 25px;
  padding-bottom: 5px;
}

h3 {
  font-size: 20px;
  padding-bottom: 5px;
}

ul,
ol {
  margin-left: 50px;
}

code {
  background-color: rgb(200, 200, 200);
  padding: 10px 20px;
  color: red;
}
